<!DOCTYPE html>
<html lang="en">
    <%- include("dashhead.ejs") %>
   
    <body>
        <%- include("dashheader.ejs") %>
        <%- include("dashsidebar.ejs") %>         
        <div class="container">
            <!-- First Row -->
            <div class="dashboard-announcement-container">
                <% if (contents.length > 0) { %>
                    <% contents.forEach(content => { %>
                <h2 class="dashboard-announcement-title"><%= content.content_title %></h2>
                <p ><%= content.content %></p>
                        <% }) %>
                    <% } else { %>
                        <p>There are no announcements to display...</p>
                    <% } %>
               
            </div>
        
            <div class="dashboard-loan-container">
                <h2>Loans</h2>      
                <h1><%= totalLoanAmount %> php</h1>
                <!-- <i class="fa-solid fa-coins" ></i> -->
            </div>
        
            <div class="dashboard-welcome-container">
                <h2>Welcome to the Collector Dashboard, [Collector Name]!</h2>
                <p>We’re thrilled to have you onboard in supporting our community’s financial wellbeing. </p>
            </div>
        
            
            <div class="dashboard-funds-container">
                <h2>2024 COOP FUNDS</h2>
                <div class="funds-content">
                    <ul class="legend">
                       <p>hbfhgbfjknkgmfbhgl,</p>
                    </ul>
                    <div class="graph-image">
                        <img src="/images/graph-image.jpg" alt="Graph showing funds breakdown">
                    </div>
                </div>
            </div>

            <div class="dashboard-inquiries-container">
                    <h2>Upcoming Collections</h2>
                    <div class="inquiry-item"></div>
                    <div class="inquiry-item"></div>

            </div>
        </div>
    </body>
</html>
