<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div>
        <img class="background1" src="/images/back.jpg" alt="background1" />
        
        <div class="application-button">
            <a href="/application" class="button-link">Apply for Membership</a>
        </div>
        
    </div>

    <%- include('./about.ejs') %>

    <%- include('./product.ejs') %>

    <%- include('./service.ejs') %>
    
    <%- include('./contact.ejs') %>

    <%- include('./partials/footer.ejs') %>

</body>
</html>