<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <%- include('./about.ejs') %>

    <%- include('./product.ejs') %>

    <%- include('./service.ejs') %>
    
    <%- include('./contact.ejs') %>

    <%- include('./partials/footer.ejs') %>

</body>
</html>