<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div>
        <img class="background1" src="/back1.jpg" alt="background1">
    </div>

    <%- include('./about.ejs') %>

    <%- include('./product.ejs') %>

    <%- include('./service.ejs') %>
    
    <%- include('./contact.ejs') %>

    <%- include('./partials/footer.ejs') %>

</body>
</html>