<!DOCTYPE html>
<html lang="en">
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/dashboard.css">
 
    <body>
        <%- include("header.ejs") %>
        <%- include("sidebar_mem.ejs") %>
       
        <div class="container">
            <div class="announcement-container">
 
              <% if (contents.length > 0) { %>
                <% contents.forEach(content => { %>
                <h3 class="announcement-title"><%= content.content_title %></h3>
                <p><%= content.content %></p>
              <% }) %>
              <% } else { %>
                  <p>There are no announcements to display...</p>
              <% } %>
            </div>
 
            <div class="welcome-container">
                <h3 class="welcome-title">Welcome</h3>
            </div>
 
            <div class="coopfunds-container">
                <h3>Coop Funds</h3>
            </div>
 
            <div class="funds-container">
               
                <li>
 
                   
                    <a href="/Member/loans" class="funds-btn">
                        <% loans.forEach(loan => { %>
                           
                        <p>Php<%= loan.balance %></p>
                        <% }) %>
                        <h3>Loan Balance</h3>
                    </a>
                   
                </li>
                <li>
                    <a href="#" class="funds-btn">
                        <% savings.forEach(savings => { %>
                        <p>Php <%= savings.amount %>.00</p>
                        <% }) %>
                        <h3>Savings</h3>
                    </a>
                   
                </li>
                <li>
                    <a href="#" class="funds-btn">
                        <% cbu.forEach(cbu => { %>
                        <p>Php<%= cbu.amount %>.00</p>
                        <% }) %>
                        <h3>CBU</h3>
                    </a>
                   
                </li>
           
            </div>
        </div>
 
 
    </body>
 
 
</html>