<!DOCTYPE html>
<html lang="en">
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/save.css">
 
    <body>
        <%- include("header.ejs") %>
        <%- include("sidebar_mem.ejs") %>
       
  
            <div class="container">
             
                <div class="container">
                    <!-- Savings and CBU Section -->
                    <div class="balances">
                      <div class="balance-card savings">
                        <h3>Savings</h3>
                        <% savings.forEach(savings => { %>
                            <p class="amount">Php <%= savings.amount %>.00</p>
                            <% }) %>
                        
                      </div>
                      <div class="balance-card cbu">
                        <h3>CBU</h3>
                        <% cbu.forEach(cbu => { %>
                            <p class="amount">Php<%= cbu.amount %>.00</p>
                            <% }) %>
                        
                      </div>
                    </div>
          
           
                    <form action="/submit-transaction" method="post" class="transaction-form">
                      <h4>Request a Transaction</h4>
                      <div class="form-fields">
                        <select name="fund-type" id="fund-type">
                            <option value="" disabled selected hidden>Fund Type</option>
                            <option value="savings">Savings</option>
                            <option value="cbu">CBU</option>
                         
                        </select>
                        <select name="transaction-type" id="transaction-type">
                            <option value="" disabled selected hidden>Transaction Type</option>
                            <option value="deposit">Deposit</option>
                            <option value="withdrawal">Withdrawal</option>
                        </select>
                        <select name="payment-mode" id="payment-mode">
                            <option value="" disabled selected hidden>Mode of Payment</option>
                          <option value="cash">Cash</option>
                          <option value="cash">Credit Card</option>
                          <option value="cash">Debit Card</option>
                          <option value="cash">Gcash</option>
                          <option value="cash">Maya</option>
                          <option value="cash">Paypal</option>
                        </select>
                         <p>Enter Amount</p>
                        <input type="number" class="form-input" name="" min="0" max="100" step="1">
                  
                      <button type="submit" class="confirm-button">Confirm</button>
                      </div>
                      
                       
                    </form>
                  
                  
                    

                      
                   
                    
    </body>
 
 
</html>