<!DOCTYPE html>
<html lang="en">
    <%- include("../Manager/managerhead.ejs") %>
    <link rel="stylesheet" href="/css/managermain.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <body>
        <%- include("../Manager/managerheader.ejs") %>
        <%- include("../Manager/managersidebar.ejs") %>

        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact Number</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (users.length > 0) { %>
                        <% users.forEach(user => { %>
                            <tr data-user-id="<%= user.user_id%>">
                                <td><%= user.user_id %></td>
                                <td><% if (user.category === 'gold') { %>
                                    <p>Gold</p>
                                    <% } else if (user.category === 'silver') { %>
                                        <p>Silver</p>
                                    <% } else if (user.category === 'bronze') { %>
                                        <p>Bronze</p>
                                    <% } else { %>
                                        <p>New Member</p>
                                    <% } %>
                                </td>
                                <td><%= user.fname %> <%= user.lname %></td>
                                <td><%= user.email %></td>
                                <td><%= user.contact %></td>
                            </tr>
                            <% }) %>
                        <% } else { %>
                        <tr>
                            <td colspan="8">No Members to show.</td>
                        </tr>}
                    <% } %>
                </tbody>
            </table>
            <script>
                document.querySelectorAll('tr[data-user-id]').forEach(row => {
              row.addEventListener('click', function() {
                  
                  const userId = this.getAttribute('data-user-id');
                  
                  
                  const destinationUrl = '/Manager/membersprofile/' + userId; 
                  window.location.href = destinationUrl;
              });
            });
            
            </script>
        </div>
    </body>
</html>
