<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KaCoop | <%=title %></title>
    <link rel="stylesheet" href="/css/req.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    <div class="nav-content">
        <div class="member-title">
            <h1>Manager</h1>
        </div>
        <div class="home-icon">
            <a href="/">
                <img src="/svg/icons8-home.svg" alt="Home Icon">
            </a>
        </div>
    </div>
</nav>

<!-- Centering the h2 element -->
<h2>Membership Requests</h2>

<div class="form-container">
    <form action="/mem_application_update/<%= application.application_id %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <table>
            <tr>
                <td>First Name:</td>
                <td><%= application.fname %></td>
            </tr>
            <tr>
                <td>Middle Name:</td>
                <td><%= application.mname %></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><%= application.lname %></td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td><%= application.date_of_birth %></td>
            </tr>
            <tr>
                <td>Place of Birth:</td>
                <td><%= application.place_of_birth %></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><%= application.address %></td>
            </tr>
            <tr>
                <td>Email Add:</td>
                <td><%= application.email %></td>
            </tr>
            <tr>
                <td>Contact Number:</td>
                <td><%= application.contact %></td>
            </tr>
            <tr>
                <td>Charges</td>
            </tr>
            <tr>
                <td>Capital Build-Up:</td>
                <td>1000.00 php</td>
            </tr>
            <tr>
                <td>Savings:</td>
                <td>500.00 php</td>
            </tr>
            <tr>
                <td>Service Fee:</td>
                <td>100.00 php</td>
            </tr>
            <tr>
                <td>Total Charges:</td>
                <td>1600.00 php</td>
            </tr>
            
        </table>
        <div class="button-container">
            <button type="submit" class="approve-button" name="application_status" value="approved">Approve</button>
                        
            <button type="submit" class="decline-button" name="application_status" value="decline">Decline</button>
        </div>

    </form>
    
</div>



</body>
</html>
