<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KaCoop | <%=title %></title>
    <link rel="stylesheet" href="/css/requests.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    <div class="nav-content">
        <div class="member-title">
            <h1>Manager</h1>
        </div>
        <div class="home-icon">
            <a href="/">
                <img src="/svg/icons8-home.svg" alt="Home Icon">
            </a>
        </div>
    </div>
</nav>

<!-- Centering the h2 element -->
<h2>Membership Requests</h2>

<table id="table">
    <thead
        <tr>
            <th>Application ID</th>
            <th>Details</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <% if (applications.length > 0) { %>
          <% applications.forEach(application => { %>
            <tr data-application-id="<%= application.application_id %>">
                <td><%= application.application_id %></td>
                <td><%= application.fname %> <%= application.lname %> has sent a membership request.</td>
                <td><%= application.date_sent %></td>
                
              </tr>
            <% }) %>
          <% } else { %>
            <tr>
              <td colspan="8">No membership requests at the moment...</td>
            </tr>
          <% } %>   
        </tbody>

</table>
<script>
    document.querySelectorAll('tr[data-application-id]').forEach(row => {
  row.addEventListener('click', function() {
      
      const applicationId = this.getAttribute('data-application-id');
      
      
      const destinationUrl = '/Manager/req/' + applicationId; 
      window.location.href = destinationUrl;
  });
});

</script>

<script>
    // Function to get current timestamp
    function getTimestamp() {
        const now = new Date();
        const timestamp = now.toLocaleString();
        return timestamp;
    }

    // Update timestamp for each row
    document.addEventListener("DOMContentLoaded", function() {
        const table = document.getElementById("table");
        const rows = table.getElementsByTagName("tr");

        for (let i = 1; i < rows.length; i++) {
            const detailsCell = rows[i].getElementsByTagName("td")[1];
            const timestampSpan = document.createElement("span");
            timestampSpan.textContent = " (" + getTimestamp() + ")";
            detailsCell.appendChild(timestampSpan);
        }
    });
</script>

</body>
</html>
